
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
body{
   font-family: "Amatic SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 20px;
min-height: 100vh;
    
    background-image:linear-gradient(black,red);
}

h3{
    text-align:center ;
  
    color: violet;
}
 h1 {
    color: pink;
    text-align:center ;
    font-size: 45px;
    
}


h2{
  color:pink ;
   text-align:center ;
    
    
}

a{ text-decoration: none;
color: green;
font-size: 20px;
}

h3{
    text-shadow:5px 5px 5px black;
}

h2{
    text-shadow:5px 5px 5px black;
}

h1{
    text-shadow:5px 5px 5px black;
}
.premium{
    background:yellow;
    padding: 5px;
    border-radius: 14px;
}